$colorWhite: #fff;
$colorText: #292929;
$colorMain: #6ec8fa;
$colorMainDark: #64b8e7;
$colorSecondary: #58e8b7;
$colorBase: #f4f4f4;
$colorDarkGray: #505050;

$fontLight: 300;
$fontNormal: 400;
$fontSemibold: 500;
$fontBold: 600;
