.MenuOverlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 72px;
	background-color: rgba(0, 0, 0, 0);
	pointer-events: none;
	transition: all 200ms ease-in-out;

	&-bg {
		max-width: 400px;
		height: 100%;
		background-color: $colorMain;
		margin-left: auto;
		transform: translateX(100%);
		transition: all 200ms ease-in-out;
	}

	&-nav {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-end;
		padding-top: rem(40px);

		&--item {
			font-size: rem(20px);
			font-weight: $fontNormal;
			color: $colorWhite;
			padding: rem(16px) 0;
			display: inline-block;
			transition: background-color 200ms ease-in-out;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
	&.open {
		background-color: rgba(0, 0, 0, 0.65);
		pointer-events: all;
		.MenuOverlay-bg {
			transform: translateX(0);
		}
	}
}
